body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

#graph_svg {
    width: 100%;
    height: 100%;

}

#slider-simple {
    max-height: 87px;
}

.node {
    font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #bbb;
}

.node:hover {
    fill: #000;
}

.link {
    stroke: steelblue;
    stroke-opacity: .4;
    fill: none;
    pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
    font-weight: 700;
}

.node--source {
    fill: #2ca02c;
}

.node--target {
    fill: #d62728;
}

.node--source.node--target {
    fill: blueviolet;
}

.link--source,
.link--target {
    stroke-opacity: 1;
    stroke-width: 2px;
}

.link--source {
    stroke: #d62728;
}

.link--target {
    stroke: #2ca02c;
}

.link--2 {
    stroke: purple !important;
    stroke-width: 3px !important;
}

.container {
    background: #1d94ff;
    margin: 10px;
    width: 100%;
    height: 500px;

}

.svg_info_container {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35);
    padding: 1rem;
}
.node_relations {
    position: absolute;
    padding: 1rem;
}

.node_relations_incoming {
     background: rgba(37, 176, 31, 0.54);
    bottom: 0;
    right: 0;
 }

.node_relations_outcoming {
    background: rgba(232, 85, 68, 0.69);
    bottom: 0;
    right: 0;
}

.color_block {
    width: 1rem;
    height: 1rem;
}




.bubble {
    fill: rgba(0,0,0,0.1);
}
.bubble:hover {
    stroke: black;
    vector-effect: non-scaling-stroke;
}

.bubble.node--target {
    fill: red;
}
.bubble.node--source {
    fill: red;
}

/*.link {*/
    /*fill: none;*/
    /*stroke: rgb(60,120,205);*/
    /*stroke-width: 0.87;*/
    /*vector-effect: non-scaling-stroke;*/
    /*pointer-events: none;*/
/*}*/

/*.link--target {*/
    /*stroke-width: 1;*/
/*}*/

/*.link--source {*/
    /*stroke-width: 0.5 !important;*/
/*}*/

/*.danger {*/
    /*stroke: #64abff;*/
/*}*/

.svg_info__item {
    display: flex;
    align-items: center;
    justify-content: start;
}

.full_preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;

}



.transition-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2196f3;
}

.transition-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 200px);
    color: #FFF;
    padding: 0 100px;
    text-align: center;
}
.transition-loader-inner label {
    font-size: 1em;
    padding: 1%;
    opacity: 0;
    display: inline-block;
}
.transition-loader-inner label:after {
    font-family: FontAwesome;
    content: '\f111';
}

.transition-loader-inner label:nth-child(1) {
    -webkit-animation: loader 3s 600ms infinite ease-in-out;
    animation: loader 3s 600ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(2) {
    -webkit-animation: loader 3s 500ms infinite ease-in-out;
    animation: loader 3s 500ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(3) {
    -webkit-animation: loader 3s 400ms infinite ease-in-out;
    animation: loader 3s 400ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(4) {
    -webkit-animation: loader 3s 300ms infinite ease-in-out;
    animation: loader 3s 300ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(5) {
    -webkit-animation: loader 3s 200ms infinite ease-in-out;
    animation: loader 3s 200ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(6) {
    -webkit-animation: loader 3s 100ms infinite ease-in-out;
    animation: loader 3s 100ms infinite ease-in-out;
}

@keyframes loader {
    0% {
        opacity: 0;
        transform: translateX(-300px) scale(1);
    }
    33% {
        opacity: 1;
        transform: translateX(0px) scale(2);
    }
    66% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateX(300px) scale(2);
    }
}
@-webkit-keyframes loader {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}
